# Quasar
/dist
/src-capacitor
/src-cordova
/.quasar
/quasar.config.*.temporary.compiled*

# Node
node_modules
npm-debug.log
yarn-error.log

# Environment
.env.local
.env.*.local

# Firebase
firebase-service-account.json
server/firebase-service-account.json

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
